---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Independent from '../components/Independent.astro';
import Methodology from '../components/Methodology.astro';
import Contact from '../components/Contact.astro';
---

<Layout>
  <Nav />
  <main id="main" tabindex="-1">
    <Hero />
    <About />
    <Projects />
    <Independent />
    <Methodology />
    <Contact />
  </main>
</Layout>
